@font-face {
        font-family: 'LuckiestGuy';
        src: url('./img/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('img/3.Background/Layers/5. Water/D1.png');
    background-position: center;
    font-family: 'LuckiestGuy', Arial, Helvetica, sans-serif;
}   

h1 {
    font-size: 64px; 
    letter-spacing: 4px;
    color: rgb(230, 245, 255);
    text-shadow: 2px 2px 4px #0619a8;
}

canvas {
    background-color: black;
    display: block;
}

/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    h1 {
        display: none;
    }
}